fastapi>=0.68.2
uvicorn[standard]>=0.15.0
pydantic[email]>=1.8.2
requests>=2.26.0
alembic>=1.7.4
psycopg2-binary>=2.9.1
python-multipart>=0.0.5
fastapi-login>=1.7.3
asyncpg>=0.24.0
SQLAlchemy[mypy]>=1.4.25
black>=21.9b0
pytest>=6.2.4
loguru>=0.5.3
passlib[bcrypt]>=1.7.4
mypy>=0.930
databases[postgresql]>=0.5.3
arq>=0.22
gunicorn>=20.1.0